<%- include('partials/header.ejs'); %>
<body >
    <%- include('partials/navbar.ejs');  %>
    <div class="corpo" style="height: 90%;">
        
        <%- include('partials/aesquerdaclientes.ejs');%>
        
        <%- include('partials/adireitaclientes.ejs');%>
    </div>
   
</body>
<%- include('partials/footer.ejs'); %>